doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 Beacon Center
    table(style="border: 1px solid blue")
      tr(style="border: 1px solid blue")
        th(style="border: 1px solid blue") User Name
        th(style="border: 1px solid blue") Vip Flag
        th(style="border: 1px solid blue") Timestamp
      each item in data
        tr(style="border: 1px solid blue")
          td(style="border: 1px solid blue")= item.username
          td(style="border: 1px solid blue")= item.vipflag
          td(style="border: 1px solid blue")= item.timestamp
